@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl leading-10 font-normal;
}

h2 {
  @apply text-3xl leading-10 font-normal;
}

h3 {
  @apply text-2xl leading-8 font-normal;
}

h4 {
  @apply text-xl leading-7 font-normal;
}

h5 {
  @apply text-lg leading-7 font-normal;
}

h6 {
  @apply text-base leading-8 font-medium;
}

button {
  @apply py-[10px] px-6 rounded-md font-normal text-lg leading-7;
}

p {
  @apply text-base leading-4 mb-2;
}

small {
  @apply text-xs leading-3 mt-1 ml-2;
}

input,
textarea {
  @apply border rounded-lg py-[10px] pl-[10px]
     font-normal text-sm leading-[17px];
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}
